* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #187296;
}

header {
    /* background-color: #58d838; */
    color: #161515;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea {
    margin-bottom: 10px;
    border-radius: 15px;
}

button {
    background-color: #881313;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    background-color: #555;
}

main {
    height: 82vh;
    padding: 0 100px;
}